.Text {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}

.title {
    font: var(--font-l);

    &.primary {
        color: var(--primary-color);
    }

    &.secondary {
        color: var(--secondary-color);
    }

    &.error {
        color: var(--red-light);
    }
}

.text {
    font: var(--font-m);

    &.primary {
        color: var(--secondary-color);
    }

    &.secondary {
        color: var(--primary-color);
    }

    &.error {
        color: var(--red-dark);
    }
}