.Text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}

.title {
    font: var(--font-l);

    &.s {
        font: var(--font-m);
    }

    &.m {
        font: var(--font-l);
    }

    &.l {
        font: var(--font-xl);
    }

    &.primary {
        color: var(--primary-color);
    }

    &.secondary {
        color: var(--tertiary-color);
    }

    &.error {
        color: var(--red-light);
    }
}

.text {
    &.s {
        font: var(--font-s);
    }

    &.m {
        font: var(--font-m);
    }

    &.l {
        font: var(--font-l);
    }

    &.primary {
        color: var(--tertiary-color);
    }

    &.secondary {
        color: var(--primary-color);
    }

    &.error {
        color: var(--red-dark);
    }
}