.Button {
    display: flex;
    cursor: pointer;
    font: var(--font-m);

    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.main {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}