.Button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-m);

    margin: 0;
    border: none;
    outline: none;
    background: none;

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.paddings {
    padding: 4px 12px;
}

.size_m {
    font: var(--font-m);

    &.square {
        width: var(--line-size-m);
        height: var(--line-size-m);
    }
}

.size_l {
    font: var(--font-l);

    &.square {
        width: var(--line-size-l);
        height: var(--line-size-l);
    }
}

.size_xl {
    font: var(--font-xl);

    &.square {
        width: var(--line-size-xl);
        height: var(--line-size-xl);
    }
}

.clear {
    color: var(--secondary-color);
}

.primary {
    color: var(--secondary-color);
    background-color: var(--bg-color-inverted);
}

.secondary {
    color: var(--primary-color);
    background-color: var(--bg-color);
}