.Sidebar {
    width: 300px;
    padding: var(--content-padding);

    background-color: var(--bg-color-inverted);
    transition: width 0.3s;
}

.collapsed {
    width: 120px;
}

.themeSwitcher {
    min-height: 60px;
    min-width: 60px;
}