.Sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: var(--content-padding);

    background-color: var(--bg-color-inverted);
    transition: width 0.3s;
}

.collapsed {
    width: 120px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.switchers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    &.flipped {
        flex-direction: column;
    }
}

.themeSwitcher {
    min-height: 60px;
    min-width: 60px;
}