.ArticleList {
    gap: var(--gap-xl);

    &.small {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        justify-content: center;
        gap: 28px;
    }

    &.big {
        display: flex;
        flex-flow: column wrap;
    }
}

.error {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}