.InputContainer {
    display: flex;
    gap: var(--gap-s);
}

.caretWrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.input {
    background: none;
    outline: none;
    border: none;

    width: 100%;
    color: var(--primary-color);
    font: var(--font-m);
    caret-color: transparent;

    &:disabled {
        opacity: 0.7;
    }
}

.caret {
    position: absolute;
    left: 0;
    bottom: 0;

    display: none;
    content: "";
    width: 9px;
    height: 3px;
    background-color: var(--primary-color);

    animation: caret-animation 0.7s forwards infinite;
}

.caretWrapper:has(input:focus) {
    .caret {
        display: inline-block;
    }
}

@keyframes caret-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}