.DetailedArticlePage {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.articleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.error {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}