.dark_theme {
    /* Background */
    --bg-color: rgb(49 49 61);
    --bg-color-inverted: rgb(112 117 122);
    --bg-color-code: rgb(112 117 122 / 70%);

    --primary-color: #ef89c6;
    --secondary-color: #6de1d1;
    --tertiary-color: #6de1d1;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(112 117 122 / 30%);

    /* Card */
    --bg-card: rgb(86 86 105);
}