.green_theme {
    /* Background */
    --bg-color: rgb(213 208 192);
    --bg-color-inverted: rgb(82 108 46);

    --primary-color: rgb(91 64 23);
    --secondary-color: rgb(213 208 192);

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(82 108 46 / 30%);
}