.Navbar {
    display: flex;
    justify-content: end;
    align-items: center;

    height: var(--navbar-height);
    gap: var(--gap-xl);
    padding: var(--content-padding);
    padding-right: 40px;

    background-color: var(--bg-color-inverted);
}