.Navbar {
    display: flex;
    justify-content: end;

    height: var(--navbar-height);
    gap: 8px;
    padding: var(--content-padding);
    padding-right: 40px;

    background-color: var(--bg-color-inverted);
}