.error {
    justify-content: center;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.info {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.avatar {
    align-self: center;
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}